/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: #f0daae;
  color: #222;
}

/* Faixa topo */
.top-strip {
  background: #fc4343;
  height: 8px;
  width: 100%;
}

/* Menu */
.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  border-bottom: 2px solid #000000;
}

.nav a {
  text-decoration: none;
  color: #222;
  font-size: 18px;
}

/* Logo */
.logo {
  text-align: center;
  margin: 15px ;
}

.logo img {
  max-width: 200px;
}

/* Produtos */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  border: 2px solid #000000;
  padding: 10px;
}

.thumb {
  width: 100%;
  height: 250px;
  background: #ddd;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* Carrossel */
.carousel {
  position: relative;
  max-width: 1000px;
  margin: 30px auto;
  border: 2px solid #444;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-window {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.carousel-track img {
  width: 250px;
  height: 150px;
  background: #000000;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
}

/* Botões carrossel */
.carousel button {
  background: rgba(0,0,0,0.6);
  color: #f04545;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 5;
  transition: 0.3s;
}

.carousel button:hover {
  background: rgba(0,0,0,0.8);
}

.prev { margin-right: 10px; }
.next { margin-left: 10px; }

/* Modal */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-content {
  background: #e96161;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Rodapé */
.footer-strip {
  background: #f14545;
  padding: 20px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/* Botões menu (hover) */
.nav-link {
  color: rgba(0, 0, 0, 0.733);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-link:hover {
  background-color: #ff6b6b;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
